body{
  font-family: -apple-system , BlinkMacSystemFont,'Seoge UI',Roboto,oxygen;
  font-weight:300;
  margin : 8px;
}
h1{
  text-transform: uppercase;
  font-weight: 300;

}
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
main{
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit,minimax(300px,1fr));
  grid-auto-rows: max-content;
  grid-auto-flow: row dense;
}
